# Force git to use HTTPS instead of SSH for GitHub repos
# This fixes "Host key verification failed" errors on Vercel
git-config[]=url."https://github.com/".insteadOf=git@github.com:
git-config[]=url."https://github.com/".insteadOf=ssh://git@github.com/

